html{
    background-color: black;
}

#memeImage{
    border: 5px solid white;
    width: 50%;
    margin-left: 25%;
}

#maintext{
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
    color:white;
    margin-left: 35%;
    width: 50%;
    text-transform: uppercase;
}

#sectext{
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
    color:white;
    margin-left: 30%;
    width: 50%;
    text-transform: uppercase;
}