html {
    background-color: black;
}

#quoteTitle {
    color: white;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

#quote {
  color: white;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
  text-align: center;
}

img {
    width: 50%;
    margin-left: 25%;
    border: 5px solid white;
}

